
body{
	border-style: solid;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top-width: 25px;
	border-color: white;
}
body,div,ul,li,a,a:visited{
	font-family: 'Century Gothic';
	font-size: 20px;
	text-decoration: none !important;
	color: black;
}
/*For the entire navbar container*/
#nav-wrap{
	padding-top: 20px;
	margin: auto;
}
ul{
	width: 100%;
}
a .sf-with-ul{
	background-color: white;
}
.navbar-collapse{
	padding-left: 0px;
}
#brand-wrap{
	text-align:center;
}
